<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="id.flutter.flutter_background_service">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application>
        <service android:name=".BackgroundService"/>
        <receiver 
            android:name=".WatchdogReceiver"
            android:exported="false" />
        <receiver android:name=".BootReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
